*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    background-color: hsl(233, 47%, 7%);
    
}

main{
    background-color: hsl(244, 38%, 16%);
    display: flex ;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    width: 80%;
    height: 450px;
    margin: 70px auto ;
    
}

.section1{
    display: flex;
    flex-direction: column;
    margin:0px 100px 0px 80px;
    width: 50%;
  
}

.section1 .div-1 h1 {
    font-size:30px;  
    color:hsl(0, 0%, 100%);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.section1 .div-1 p{
    font-size:15px;  
    color:hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    text-align: start;
    margin-top:30px;
    line-height: 1.5;
}

.section1 .div-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:100px;
    margin-right:60px;
}

.section1 .div-2 figure h2 {
    font-size: 30px;
    font-weight: 700;
    color:hsl(0, 0%, 100%);
    font-family:'Inter', sans-serif;
    font-weight: 700;
}

.section1 .div-2 figure p {
    color:hsla(0, 0%, 100%, 0.75);
    font-size:14px;
    font-family:'Inter', sans-serif;
    font-weight: 500;
    
}


.section1 .div-1 h1 span{
    color:hsl(277, 64%, 61%);
}



.section2{
    width: 70%;
    height: 100%;
    opacity: 0.9;   
    background-color: hsl(277, 64%, 61%);
    border-radius: 0px 10px 10px 0px;
}


.section2 img{
    display: flex;
    border-radius: 0px 10px 10px 0px;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 0.8;
    
}

@media (max-width:1152px){
    main{
        border-radius: 30px;
        width: 320px;
        flex-direction: column-reverse;
        margin: 50px auto;
        height: auto;
    }
    .section1{
        
     display: flex;
     flex-direction: column;
     margin: 30px 100px 0px 100px;
     width: 90%;
     text-align: center;
    }
    .section1 .div1 p{
    text-align: center;
    width: 60%;
    }
    .section1 .div-2{
    margin-right: 0px;
    flex-direction: column;
    margin-top:40px;
    }


    .section1 .div-2 figure{
        margin-bottom:20px;
       
    }

    .section2 {
        width: 100%;
        border-radius: 30px 30px 0px 0px
      ;
    }

    .section2 img{
        border-radius: 30px 30px 0px 0px
        ;
    }

    .section1 .div-1  p {
      text-align: center;
      margin:10px;
    }
    }


